<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="3.1.1" targetFramework="net45" />
  <package id="Xero.Api" version="1.0.0.13" targetFramework="net45" />
  <package id="Xero.Api.Example.Applications" version="1.0.0.14" targetFramework="net45" />
  <package id="XeroAPI.Net" version="1.1.0.33" targetFramework="net45" />
</packages>