<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->

    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />

  </configSections>
  <log4net configSource="log4net.xml" />
  <connectionStrings>
    <clear />
    <add name="ConnStringDeltoneCRM" connectionString="server=DELTONEDB\SQLEXPRESS;database=DELTONELIVE;uid=sa;password=@dmin123;" />
    <add name="ConnStringDeltoneCRM-LIVE" connectionString="server=localhost\SQLEXPRESS;database=DELTONECRM-LIVE;uid=sa;password=@dmin123;" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>